/* Import TipTap SCSS Variables */
@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal table styles - Let TipTap handle most styling */
.ProseMirror table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border: 1px solid var(--tt-border-color);
}

.ProseMirror td,
.ProseMirror th {
    border: 1px solid var(--tt-border-color);
    min-width: 1em;
    padding: 3px 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    background-color: var(--tt-card-bg-color);
}

.ProseMirror th {
    font-weight: bold;
    text-align: left;
    background-color: var(--tt-sidebar-bg-color);
}

.ProseMirror .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(157, 138, 255, 0.4);
    pointer-events: none;
}

.ProseMirror .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
}
